.section {
  margin-top: 10%;
}

.form1 {
  font-family: "Roboto", sans-serif;
  margin-top: 3em;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn {
  background-color: #21262d !important;
  color: #c9d1d9 !important;
}
