.section {
  font-family: "Roboto", sans-serif;
  margin-top: 10%;
  text-align: left;
}

.form3 {
  font-family: "Roboto", sans-serif;
  margin-top: 3em;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.btn {
  background-color: #21262d !important;
  color: #c9d1d9 !important;
}
