.sidenav {
  background-color: #0d1117;
  font-family: "Roboto", sans-serif;
  height: 95vh;
  left: -100%;
  padding: 0 30px;
  position: absolute;
  transition: all 0.3s;
  width: 240px;
}

.sidenav.active {
  left: 0;
}

.menu {
  color: #c9d1d9;
  margin-top: 35px;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 10px 0;
}

ul li a {
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px 15px;
  text-decoration: none;
}

ul li a svg {
  margin-right: 10px;
}

ul li a:hover,
ul li a:active {
  background: #161b22cc;
}
