body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 30px;
  background: #99c2d9;
  height: 40px;
}

header svg {
  font-size: 40px;
  color: #3d5a80;
  cursor: pointer;
}

.main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 90%; 
  margin: 0 auto;
}
