.section {
  font-family: "Roboto", sans-serif;
  margin-top: 10%;
  text-align: center;
}

.form2 {
  align-items: center;
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  margin-top: 3em;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.btn {
  background-color: #21262d !important;
  color: #c9d1d9 !important;
}

a, Link {
  color: currentColor !important;
  text-decoration: none !important;
}

@media screen and (max-width: 576px) {
  .form2 {
    font-family: "Roboto", sans-serif;
    display: block;
  }
}
